In [1]:
!pip install catboost

Collecting catboost
  Downloading catboost-0.26.1-cp37-none-manylinux1_x86_64.whl (67.4 MB)
     |████████████████████████████████| 67.4 MB 32 kB/s
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-0.26.1

In [2]:
import pandas as pd
import numpy as np
from catboost import Pool, CatBoostRegressor
from catboost.datasets import rotten_tomatoes
from sklearn.model_selection import train_test_split as train
from pandas import read_csv as read

In [3]:
path = "carsWithAddInfo.csv"
data = read(path, delimiter=",")

In [4]:
data.head(5)

   symboling                   CarName fueltype  ... imgSharpness imgResX imgResY
0         -1               volvo 264gl      gas  ...        318.0   960.0  1280.0
1          3        alfa-romero giulia      gas  ...       1080.0  1920.0     NaN
2          3       alfa-romero stelvio      gas  ...       1050.0  1680.0     NaN
3          1  alfa-romero Quadrifoglio      gas  ...        780.0  1170.0     NaN
4          2               audi 100 ls      gas  ...        684.0  1024.0     NaN

[5 rows x 31 columns]

In [5]:
cat_text = ['CarName','fueltype','aspiration','doornumber',
'carbody','enginelocation','drivewheel','enginetype','cylindernumber','fuelsystem']

def hasher(inp): 
  newInp = 0
  for i in range(0,len(inp)):
    newInp += ord(inp[i])*(i+1)
  return newInp


for z in range(0,len(cat_text)):
  for j in range(0,len(data)):
    data.loc[j,cat_text[z]] = hasher(data.loc[j,cat_text[z]])

In [6]:
data.head(5)

   symboling CarName fueltype  ... imgSharpness imgResX imgResY
0         -1    5351      642  ...        318.0   960.0  1280.0
1          3   17042      642  ...       1080.0  1920.0     NaN
2          3   19586      642  ...       1050.0  1680.0     NaN
3          1   30569      642  ...        780.0  1170.0     NaN
4          2    4858      642  ...        684.0  1024.0     NaN

[5 rows x 31 columns]

In [17]:
#data2 = data.drop(data.columns[14:18], axis=1)
data2=data


data3 = data.drop(data.columns[24:25], axis=1)

X = data3.values[::, 0:27]
y = data2.values[::, 24:25]


X_train, X_test, y_train, y_test = train(X, y, test_size=0.6)

clf = CatBoostRegressor(iterations=1400,learning_rate=0.03,od_type='Iter',od_wait=1500,
                             depth=3,random_strength=1,
                            l2_leaf_reg=10,
                             sampling_frequency='PerTree',
                             
                            )
res = clf.fit(X_train, y_train,
             eval_set=(X_test,y_test),
             use_best_model=True,
             verbose=False)
print(clf.score(X_train, y_train))
print(clf.score(X_test, y_test))

-123.62411522500634
-173.6105095680162

In [18]:
sr = 0
ind = 0
for a, b in zip(clf.predict(X_test), y_test):
    #print(a, b)
    #print(abs((b-a)/b * 100))
    if b != 0:
      sr+=abs((b-a)/max(b,a) * 100)
      ind+=1
sr/=ind
sr=100-sr
print(sr)

[51.417153551935925]

In [8]:
import pickle

with open("model.pkl", "wb") as f:
    pickle.dump(clf, f)

In [54]:
clf.save_model("model")

In [11]:
print(clf.score(X_train, y_train))
print(clf.score(X_test, y_test))

-162.8271175668611
-151.97277486335096